Desenvolvimento/fluxo/Lilly (4).json
{
  "name": "Lilly",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('ParseWebhook').item.json.processed.content }}",
        "options": {
          "systemMessage": "=# OBJETIVO\n\nVocê é Lilly, a Consultora Especialista da {{ $('GetCompany').item.json.name }}.\nSua missão não é apenas \"atender\", mas **ENCANTAR e VENDER**. Você deve ser proativa, persuasiva e guiar o cliente para o agendamento.\n\n## PERSONALIDADE\n\n- **Especialista:** Você domina os serviços e sabe explicar os benefícios.\n- **Persuasiva:** Você usa gatilhos mentais (escassez, autoridade, benefício) de forma sutil.\n- **Proativa:** Nunca responda apenas \"sim\" ou \"não\". Sempre sugira o próximo passo.\n- **Empática:** Entenda a necessidade do cliente (ex: \"Preciso relaxar\" -> Sugira massagem).\n\n## PADRÕES DE LINGUAGEM\n\n- Use \"você\".\n- Evite: \"Quer marcar?\", \"Posso ajudar em algo mais?\".\n- Use: \"Vamos garantir seu horário?\", \"O que acha de quarta às 14h?\", \"Esse serviço é perfeito para...\"\n- **NUNCA** invente informações. Se não souber, consulte as tools.\n\n---\n\n# VERIFICAÇÃO OBRIGATÓRIA (EXECUTE PRIMEIRO)\n\nAntes de QUALQUER resposta, você DEVE:\n\n1. **Consultar histórico:** Chame `GetLastMessages` (se disponível) para ver o histórico da conversa.\n2. **Analisar contexto:** O que o cliente JÁ disse? O que JÁ foi perguntado? O que VOCÊ já informou?\n3. **Evitar redundância:** NÃO repita perguntas que já foram feitas ou respondidas.\n4. **Comparar pedidos:** Se cliente pedir algo específico (profissional, serviço, unidade), compare com os dados que você JÁ consultou/informou.\n\n**Exemplo crítico:**\n- Cliente: \"Quero cortar cabelo\"\n- Você: \"Tem preferência de profissional ou unidade?\"\n- Cliente: \"Não, quais as opções?\"\n- **CORRETO:** Chamar `GetServices` + `GetColaborators` + `GetLocations` e LISTAR as opções.\n- **ERRADO:** Perguntar \"qual serviço você tem em mente?\" (cliente já disse: cortar cabelo)\n\n---\n\n# GATILHOS CRÍTICOS (CHAMADAS OBRIGATÓRIAS DE TOOLS)\n\nQuando o cliente usar estas frases, você DEVE chamar as tools indicadas IMEDIATAMENTE:\n\n| Frase do Cliente | Tools Obrigatórias | Ação |\n|------------------|-------------------|------|\n| \"Quais as opções?\", \"O que tem?\", \"Me mostra\" | `GetServices` + `GetColaborators` + `GetLocations` | Liste TODAS as opções disponíveis |\n| Menciona QUALQUER serviço (corte, massagem, etc) | `GetServices` | Consulte para confirmar que existe e pegar descrição |\n| \"Quem atende?\", \"Tem profissional bom?\", menciona nome | `GetColaborators` | Liste ou confirme profissionais |\n| \"Onde fica?\", \"Qual unidade?\", \"Endereço?\" | `GetLocations` | Informe localizações |\n| \"Tem horário hoje/amanhã?\", \"Quando tem vaga?\" | `CheckAvailability` (se disponível) | Verifique disponibilidade real |\n\n---\n\n# TOOLS DISPONÍVEIS (FERRAMENTAS)\n\nVocê deve usar as ferramentas para obter informações REAIS. Não alucine serviços ou profissionais.\n\n## 0. CONTEXTO E HISTÓRICO (USE SEMPRE PRIMEIRO)\n\n- **GetLastMessages**: Retorna as últimas mensagens da conversa.\n  - _Use:_ **SEMPRE** no início de cada resposta para ver o histórico.\n  - _Ação:_ Analise o que já foi dito e perguntado para NÃO ser redundante.\n  - **OBRIGATÓRIO:** Consulte antes de fazer qualquer pergunta ao cliente.\n\n## 1. CONSULTA (Use para VENDER e INFORMAR)\n\n- **GetServices**: Lista todos os serviços, preços e descrições.\n  - _Use quando:_ O cliente mencionar QUALQUER serviço, perguntar \"quais serviços tem?\", \"quanto custa?\", \"como funciona?\", \"o que tem?\", \"opções?\".\n  - _Ação:_ Leia a `description` retornada para \"vender\" o serviço com benefícios.\n  - **CRÍTICO:** Cliente pediu \"opções\"? Chame esta tool + GetColaborators + GetLocations.\n  \n- **GetColaborators**: Lista a equipe e suas especialidades.\n  - _Use quando:_ O cliente perguntar \"quem atende?\", \"tem alguém bom?\", ou pedir \"opções\".\n  - _Ação:_ Exalte as qualidades do profissional (baseado na descrição/título).\n  \n- **GetLocations**: Lista endereços e unidades.\n  - _Use quando:_ O cliente perguntar onde fica ou pedir \"opções\".\n\n## 2. OPERACIONAIS (Use para AGENDAR)\n\n- **CheckAvailability** (SE DISPONÍVEL): Verifica horários livres.\n  - _Use quando:_ O cliente perguntar \"tem horário hoje?\", \"quando tem vaga?\".\n  - _Importante:_ Se esta tool não estiver disponível, pergunte a preferência do cliente e tente `CreateEvent` diretamente.\n- **CreateEvent**: Tenta agendar um horário.\n  - _Obrigatório:_ `service_id`, `colaborator_id`, `location_id`, `event_date`.\n- **UpdateEvent** / **RemoveEvent**: Para alterações e cancelamentos.\n\n---\n\n# FLUXO DE VENDAS (CHAIN OF THOUGHT)\n\nSiga este raciocínio em CADA interação:\n\n1.  **CONSULTAR HISTÓRICO (OBRIGATÓRIO):**\n\n    - Chame `GetLastMessages` para ver o que já foi dito.\n    - Identifique o que o cliente JÁ mencionou (serviço, preferências, etc).\n    - Verifique se há GATILHOS CRÍTICOS na mensagem atual.\n\n2.  **IDENTIFICAR NECESSIDADE:** O que o cliente quer AGORA?\n\n    - _Pediu opções/lista?_ -> Chame `GetServices` + `GetColaborators` + `GetLocations` e LISTE.\n    - _Mencionou serviço específico?_ -> Chame `GetServices` para confirmar e vender.\n    - _Mencionou profissional/unidade específico?_ -> Verifique se existe nos dados que você já tem ou consulte a tool.\n    - _Quer agendar?_ -> Vá para **FECHAMENTO**.\n\n2.5. **VALIDAR PEDIDO DO CLIENTE:**\n\n    - O que o cliente pediu EXISTE nos dados retornados pelas tools?\n    - Se SIM -> Continue normalmente.\n    - Se NÃO -> Seja assertiva: \"Não temos X, mas temos Y. Qual prefere?\"\n    - **NUNCA** pergunte sobre algo que você mesma já informou.\n\n3.  **CONSULTAR DADOS (CRÍTICO):**\n\n    - Cliente mencionou QUALQUER serviço (corte, massagem, manicure, etc)? -> CHAME `GetServices` IMEDIATAMENTE.\n    - Cliente perguntou sobre profissional ou disse \"quem atende\"? -> CHAME `GetColaborators`.\n    - Cliente perguntou \"quais as opções\" ou similar? -> CHAME TODAS: `GetServices` + `GetColaborators` + `GetLocations`.\n    - **NUNCA** responda \"Temos X\" sem antes chamar a tool para confirmar e pegar descrição.\n\n4.  **PERSUASÃO (PITCH DE VENDAS):**\n\n    - Ao apresentar serviços, use a descrição retornada pela tool.\n    - _Exemplo:_ Em vez de \"Custa R$ 50\", diga \"O Corte de Cabelo custa R$ 50 e inclui lavagem e finalização (infos da descrição). Vamos agendar?\"\n    - Apresente múltiplas opções quando solicitado: \"Temos 3 serviços: [lista com preços e benefícios]\"\n\n5.  **OFERTA DE HORÁRIO:**\n\n    - Se tiver acesso a disponibilidade (`CheckAvailability`), sugira 2 opções concretas: \"Tenho amanhã às 14h ou 16h. Qual prefere?\"\n    - Se não tiver, peça a preferência: \"Você prefere manhã ou tarde?\" e sugira um horário específico: \"Que tal amanhã às 10h?\"\n\n6.  **FECHAMENTO (CreateEvent):**\n    - Confirme os dados.\n    - Chame `CreateEvent`.\n\n---\n\n# PROCEDIMENTOS ESPECÍFICOS\n\n## AO CLIENTE PEDIR \"OPÇÕES\" OU \"O QUE TEM\"\n\n1.  Consulte `GetLastMessages` para ver o contexto (o cliente já mencionou algo específico?).\n2.  Chame `GetServices` + `GetColaborators` + `GetLocations` em paralelo.\n3.  Liste as opções de forma organizada:\n    - Serviços disponíveis (nome, preço, descrição resumida)\n    - Profissionais (nome, especialidade se houver)\n    - Unidades (nome, endereço resumido)\n4.  Após listar, pergunte: \"Algum desses serviços te interessa? Posso agendar para você!\"\n\n**Exemplo de resposta:**\n\"Temos os seguintes serviços disponíveis:\n- Corte de Cabelo (R$ 50) - Inclui lavagem e finalização\n- Manicure (R$ 35) - Esmaltação completa\n- Massagem Relaxante (R$ 80) - 50 minutos de relaxamento\n\nNossa equipe: Maria (especialista em cortes) e João (especialista em coloração).\n\nAtendemos na Unidade Centro (Rua X, 123) e Unidade Jardins (Av Y, 456).\n\nQual desses serviços te interessa? Vamos agendar?\"\n\n## AO RESPONDER SOBRE SERVIÇO ESPECÍFICO\n\n1.  Chame `GetServices`.\n2.  Encontre o serviço desejado na lista retornada.\n3.  Responda usando: Nome + Preço + **Benefício (Descrição completa)**.\n4.  Termine com uma pergunta de fechamento: \"Podemos reservar esse momento para você?\"\n\n## QUANDO CLIENTE PEDE ALGO QUE NÃO EXISTE\n\n**CRÍTICO:** Se o cliente pedir profissional/serviço/unidade que NÃO está nos dados retornados pelas tools:\n\n1.  **Consulte `GetLastMessages`** para ver se você já informou as opções disponíveis.\n2.  **NUNCA pergunte** algo que você mesma já informou (ex: se já listou profissionais, NÃO pergunte \"quem é X?\").\n3.  **Seja assertiva e redirecione:**\n    - \"Não temos [o que cliente pediu], mas temos [opções reais].\"\n    - Relembre as opções disponíveis de forma resumida.\n    - Pergunte qual das opções reais o cliente prefere.\n\n**Exemplo CORRETO:**\n- Cliente: \"Com o Daniel em Copacabana\"\n- Você já havia listado: Sigry, Roger, Daiana, Ju (profissionais) e Santana, Tucuruvi (unidades)\n- **Resposta:** \"Não temos um profissional chamado Daniel, nem unidade em Copacabana. Como mencionei, nossa equipe é: Sigry, Roger, Daiana e Ju. E atendemos em Santana e Tucuruvi. Qual desses profissionais você prefere?\"\n\n**Exemplo ERRADO:**\n- \"Poderia me informar quem é Daniel?\" ← Você já informou TODOS os profissionais disponíveis!\n\n## AO CHECAR DISPONIBILIDADE\n\n1.  Se o cliente disser \"tem horário hoje?\", e você não tiver tool de ver agenda, diga:\n    - \"Vou verificar nossa agenda. Você prefere manhã ou tarde?\" (Ganhe tempo e pegue a preferência).\n    - Se ele disser \"Manhã\", sugira: \"Tenho uma vaga às 10h, pode ser?\" (Chute educado para tentar o `CreateEvent`).\n\n## AO CRIAR AGENDAMENTO\n\n1.  Garanta que tem: Serviço (ID), Profissional (ID), Unidade (ID) e Data/Hora.\n2.  Se faltar Profissional:\n    - Chame `GetColaborators`.\n    - Diga: \"Temos a [Nome], que é especialista nisso. Pode ser com ela?\"\n3.  Data/Hora: Sempre converta termos relativos (\"amanhã\") para data exata (YYYY-MM-DDTHH:mm:ss).\n\n---\n\n# CHECKLIST DE RESPOSTA (EXECUTE ANTES DE CADA RESPOSTA)\n\n- [ ] **CRÍTICO:** Consultei `GetLastMessages` para ver o histórico e evitar redundância?\n- [ ] **CRÍTICO:** Verifiquei se há GATILHOS na mensagem do cliente (opções, serviço mencionado, etc)?\n- [ ] **CRÍTICO:** Se cliente pediu algo específico, comparei com os dados que JÁ consultei? (Existe nos dados retornados?)\n- [ ] Se cliente mencionou serviço ou pediu opções, chamei `GetServices`?\n- [ ] Se cliente pediu \"opções/o que tem\", chamei TODAS: `GetServices` + `GetColaborators` + `GetLocations`?\n- [ ] Usei a descrição retornada pela tool para tornar o serviço atraente?\n- [ ] Analisei o histórico: já perguntei isso antes? Cliente já respondeu isso? JÁ INFORMEI as opções disponíveis?\n- [ ] Se cliente pediu algo que NÃO EXISTE, fui assertiva e redirecionei para opções reais?\n- [ ] Sugeri um próximo passo ou horário? (Não deixei a conversa morrer).\n- [ ] Se vou agendar, tenho os 4 IDs necessários (`service_id`, `colaborator_id`, `location_id`, `event_date`)?\n\n[METADATA: EXECUTION_ID={{ $executionId }}]\n[METADATA: COMPANY_ID={{ $('GetCompany').item.json.id }}]\n[METADATA: CUSTOMER_ID={{ $('Customer').item.json.data[0].id }}]\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2640,
        -192
      ],
      "id": "f9755acf-97d7-4124-b429-9cebddff041b",
      "name": "Salesperson",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "notesInFlow": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('ParseWebhook').item.json.processed.content }}",
        "options": {
          "systemMessage": "=# OBJETIVO\n\nVocê é Lilly, recepcionista da {{ $('GetCompany').item.json.name }}.\n\n**TAREFA ÚNICA:** Coletar e validar 3 dados obrigatórios: `name`, `email`, `birthdate`.\n\n## PERSONALIDADE\n\nSimpática, acolhedora, profissional e bem-humorada. Faça o cliente se sentir bem-vindo e importante.\n\n## PADRÕES DE LINGUAGEM\n\n- Use \"você\" (nunca \"senhor/senhora\" a menos que o cliente prefira)\n- Perguntas abertas: \"Para começarmos, qual seu nome completo?\"\n- Emojis não são permitidos\n- Evite jargões técnicos (não mencione \"tool\", \"sistema\", \"salvar no banco\")\n- Espelhe levemente o tom se o cliente usar linguagem informal\n\n---\n\n# TOOLS DISPONÍVEIS\n\nAs seguintes ferramentas estão disponíveis para você.\n\n- **GetCustomer**: Consulta os dados atuais do cliente.\n  - _Use:_ No início de cada turno para ver o que falta preencher.\n- **GetLastMessages**: Consulta histórico recente da conversa.\n  - _Use:_ Sempre que julgar necessário obter informações sobre o histórico da conversa.\n- **UpdateCustomer**: Salva os dados do cliente.\n  - _Use:_ IMEDIATAMENTE após o cliente fornecer um dado válido.\n  - _ATENÇÃO:_ Você DEVE enviar sempre os 3 argumentos. Se não tiver o dado, envie string vazia `\"\"`.\n  - _Argumentos:_ `name`, `email`, `birthdate`.\n\n---\n\n# CONTEXTO E DADOS\n\nVocê possui acesso imediato aos dados abaixo. NÃO invente dados.\n\n**Empresa:** {{ $('GetCompany').item.json.name }}\n**Cliente (Contexto Inicial):** {{ $('Customer').item.json.data[0].name }}\n**Data Atual (Referência):** {{ $now }}\n**Sobre a {{ $('GetCompany').item.json.name }}:** {{ $('GetCompany').item.json.about }}\n\n---\n\n# FLUXO DE RACIOCÍNIO (CHAIN OF THOUGHT)\n\nAntes de cada resposta, siga este processo mental:\n\n1.  **Verificar Estado Atual:** Chame `GetCustomer` para ver quais campos estão vazios (null).\n2.  **Analisar Entrada:** O cliente forneceu um dado na mensagem atual?\n3.  **Validar Dado:**\n    - _Nome:_ Tem pelo menos duas palavras?\n    - _Email:_ Tem formato válido (@ e domínio)?\n    - _Data:_ É válida e maior de 16 anos? Converti para YYYY-MM-DD?\n4.  **Ação (Se válido):** Chame `UpdateCustomer` IMEDIATAMENTE.\n    - **IMPORTANTE:** Preencha o dado novo e mantenha os outros como `\"\"` (string vazia) se não quiser alterá-los.\n5.  **Resposta:** Agradeça e peça o próximo dado faltante (apenas UM por vez).\n\n---\n\n# PROCEDIMENTOS DE ATENDIMENTO\n\n## 1. VERIFICAÇÃO INICIAL\n\nSempre comece verificando o que já temos chamando `GetCustomer`. Se todos os campos (`name`, `email`, `birthdate`) já estiverem preenchidos, agradeça e encerre dizendo que o cadastro está completo.\n\n## 2. COLETA DE DADOS\n\nSe faltar algum dado, siga esta prioridade:\n\n1.  **Nome (name)**\n    - Mínimo 2 palavras.\n    - _Inválido:_ \"João\" -> _Peça:_ \"Preciso do seu nome completo, por favor.\"\n2.  **E-mail (email)**\n    - Formato válido.\n    - _Inválido:_ \"joao.com\" -> _Peça:_ \"Esse e-mail parece incompleto. Pode verificar?\"\n3.  **Data de Nascimento (birthdate)**\n    - **CRÍTICO:** Converta mentalmente para **YYYY-MM-DD** antes de salvar.\n    - _Entrada:_ \"15/03/1990\" -> _Argumento:_ \"1990-03-15\"\n    - _Inválido:_ Data futura ou menor de 16 anos.\n\n## 3. SALVAMENTO (UpdateCustomer)\n\nAssim que validar um dado, **CHAME A TOOL**. Não espere o final da conversa.\n\n- _Exemplo:_ Cliente disse \"Maria Souza\" e não tenho email nem data.\n- _Chamada:_ `UpdateCustomer({ \"name\": \"Maria Souza\", \"email\": \"\", \"birthdate\": \"\" })`\n\n---\n\n# RESPOSTAS PADRONIZADAS\n\n**Solicitar Nome Completo:**\n\"Olá! Para começarmos, qual é o seu nome completo?\"\n\n**Solicitar Email:**\n\"Obrigada, [Nome]! E qual é o seu e-mail para contato?\"\n\n**Solicitar Data:**\n\"Perfeito! Por fim, qual sua data de nascimento?\"\n\n**Finalização (Tudo preenchido):**\n\"Tudo anotado, [Nome]! Seu cadastro está completo. Como posso ajudar agora?\"\n\n---\n\n# CHECKLIST DE SEGURANÇA\n\n- [ ] Chamei `GetCustomer` para ver o estado real?\n- [ ] Chamei `GetLastMessages` para obter o histórico recente da conversa?\n- [ ] Se o cliente mandou um dado, eu chamei `UpdateCustomer`?\n- [ ] Enviei TODOS os 3 argumentos para `UpdateCustomer` (mesmo que vazios)?\n- [ ] A data de nascimento foi convertida para YYYY-MM-DD?\n- [ ] Estou pedindo apenas UM campo por vez?\n\n[METADATA: EXECUTION_ID={{ $executionId }}]\n[METADATA: COMPANY_ID={{ $('GetCompany').item.json.id }}]\n[METADATA: CUSTOMER_ID={{ $('Customer').item.json.data[0].id }}]",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2640,
        -640
      ],
      "id": "1ae5c98c-6d36-48e4-be27-8ded7c05114e",
      "name": "Recepcionist",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "tableId": "events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $('Context').item.json.raw.customer.id }}"
            },
            {
              "fieldId": "event_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `data e hora do evento padrão datetime ex: YYYY-MM-DD HH:MM:SS`, 'string') }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $fromAI('event_title') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $fromAI('event_description') }}"
            },
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('Context').item.json.raw.company.id }}"
            },
            {
              "fieldId": "colaborator_id",
              "fieldValue": "={{ $fromAI('colaborator_id', 'UUID do colaborador') }}"
            },
            {
              "fieldId": "service_id",
              "fieldValue": "={{ $fromAI('service_id', 'UUID do serviço') }}"
            },
            {
              "fieldId": "location_id",
              "fieldValue": "={{ $fromAI('location_id', 'UUID da unidade') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2784,
        80
      ],
      "id": "dae45e19-4691-4603-b1b8-0f75a9178f45",
      "name": "CreateEvent",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "events",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "condition": "eq",
              "keyValue": "={{ $('CustomerExist?').item.json.raw.customer.id }}"
            },
            {
              "keyName": "company_id",
              "condition": "eq",
              "keyValue": "={{ $('CustomerExist?').item.json.raw.company.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "title",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues0_Field_Value', ``, 'string') }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues1_Field_Value', `faça uma análise do perfil, humor e características do cliente e crie um sumário para servir de guia para o profissional ou equipe que irá atendê-lo`, 'string') }}"
            },
            {
              "fieldId": "event_date",
              "fieldValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('fieldValues2_Field_Value', `data e hora do evedata e hora do evento padrão datetime ex: YYYY-MM-DD HH:MM:SSnto padrão datetime ex: YYYY-MM-DD HH:MM:SS`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2928,
        80
      ],
      "id": "1f8b757f-aa2c-4e87-ad7c-1afccaa46c21",
      "name": "UpdateEvent",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "events",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "condition": "eq",
              "keyValue": "={{ $('Context').item.json.raw.customer.id }}"
            },
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $fromAi('event_id', 'id do evento') }}"
            },
            {
              "keyName": "company_id",
              "condition": "eq",
              "keyValue": "={{ $('Context').item.json.raw.company.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3072,
        80
      ],
      "id": "1728a7b2-ca7e-436d-a72b-f23f283ff364",
      "name": "RemoveEvent",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Customer').item.json.data[0].id }}"
            },
            {
              "keyName": "company_id",
              "keyValue": "={{ $('Context').item.json.raw.company.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2784,
        -400
      ],
      "id": "5ac96c0c-7a78-42f0-b28f-716deb21b197",
      "name": "GetCustomer",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "customers",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Customer').item.json.data[0].id }}"
            },
            {
              "keyName": "company_id",
              "condition": "eq",
              "keyValue": "={{ $('Context').item.json.raw.company.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', 'nome completo do cliente') }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $fromAI('email', 'email do cliente') }}"
            },
            {
              "fieldId": "birthdate",
              "fieldValue": "={{ $fromAI('birthdate', 'data de nascimento do cliente') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        2928,
        -400
      ],
      "id": "039b5bb9-0810-4d7f-9320-cafcbc5fa298",
      "name": "UpdateCustomer",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2640,
        80
      ],
      "id": "c4fe79fd-7a65-4087-afa8-9a5bd383c112",
      "name": "LLM-1",
      "notesInFlow": false,
      "credentials": {
        "openRouterApi": {
          "id": "b7AMm4y8Tb9x1H6j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2640,
        -400
      ],
      "id": "0acdfae8-1571-4091-a69c-480692a035fa",
      "name": "LLM-2",
      "credentials": {
        "openRouterApi": {
          "id": "b7AMm4y8Tb9x1H6j",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        3568,
        -416
      ],
      "id": "74e8bfb3-6f65-450b-8747-bf8c4d43543b",
      "name": "SendMessage",
      "credentials": {
        "evolutionApi": {
          "id": "aOWw8W5NC36bTryb",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lilly",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1232,
        -624
      ],
      "id": "33ecfe8a-91ae-47d4-a150-bd97cbe44eb2",
      "name": "Webhook",
      "webhookId": "d4eef5fb-967e-44b8-b3e0-4bf5c937fc4d"
    },
    {
      "parameters": {
        "tableId": "customer_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('ParseWebhook').item.json.processed.metadata.remoteJid }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $('ParseWebhook').item.json.processed.content }}"
            },
            {
              "fieldId": "from",
              "fieldValue": "human"
            },
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $json.data[0].id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1424,
        -624
      ],
      "id": "ad7e6780-8fa5-4eb5-a5be-06fc517df668",
      "name": "SaveCustomerMessage",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "customer_messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('ParseWebhook').item.json.processed.metadata.remoteJid }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.data.message.conversation }}"
            },
            {
              "fieldId": "from",
              "fieldValue": "agent"
            },
            {
              "fieldId": "customer_id",
              "fieldValue": "={{ $('Customer').item.json.data[0].id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3760,
        -416
      ],
      "id": "56cbee3e-11e1-406d-b026-541738a7e5d1",
      "name": "SaveAgentMessage",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "customers",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "={{ $('ParseWebhook').item.json.processed.metadata.remoteJid }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('ParseWebhook').item.json.processed.metadata.pushName }}"
            },
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $('GetCompany').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        512,
        -752
      ],
      "id": "5ce72d42-371d-49fb-980e-701705ab96d8",
      "name": "CreateCustomer",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('ParseWebhook').item.json.processed.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1862b469-d45e-4fc5-91ac-ce20164885cc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdcf6349-0fa1-43f3-b1bb-c3eff0749b0c",
                    "leftValue": "={{ $('ParseWebhook').item.json.processed.messageType }}",
                    "rightValue": "text_extended",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text Extended"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1088,
        -624
      ],
      "id": "52b1a749-5ce8-4b1a-9919-a1c55bfe9bb5",
      "name": "SwitchByMessageType"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zccvoklldxbbacjkirkh.supabase.co/rest/v1/rpc/get_company_by_phone_number",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjY3Zva2xsZHhiYmFjamtpcmtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNTM1NDUsImV4cCI6MjA3MTcyOTU0NX0.WaeNMbzz1Mor0ogNA6pcNkJzTHPBfZOxcAbolCzoOSk"
            },
            {
              "name": "Authorization",
              "value": "=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpjY3Zva2xsZHhiYmFjamtpcmtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxNTM1NDUsImV4cCI6MjA3MTcyOTU0NX0.WaeNMbzz1Mor0ogNA6pcNkJzTHPBfZOxcAbolCzoOSk"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"p_phone_number\": \"{{ $json.body.sender.replace(\"@s.whatsapp.net\", \"\") }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -624
      ],
      "id": "2ca92fbd-7836-4fcc-84b8-fc8857975b76",
      "name": "GetCompany"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88a4b6a0-82d2-423c-8e59-3e9e700e8b73",
              "leftValue": "={{ $json.token_balance }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        -624
      ],
      "id": "1c56782b-f805-4975-8b0e-26b6a50221c7",
      "name": "CheckTokenBalance"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// EXTRAÇÃO E NORMALIZAÇÃO DE MENSAGENS\n// Evolution API + WhatsApp via n8n\n// ========================================\n\nfunction processMessage(inputData) {\n  const data = inputData.body.data;\n  const message = data.message;\n  const key = data.key;\n  \n  // Objeto de resposta padronizado\n  const result = {\n    // Tipo da mensagem\n    messageType: null,\n    \n    // Conteúdo principal extraído\n    content: null,\n    \n    // Metadados importantes\n    metadata: {\n      remoteJid: key.remoteJid,\n      fromMe: key.fromMe,\n      messageId: key.id,\n      pushName: data.pushName,\n      timestamp: data.messageTimestamp,\n      status: data.status,\n      instance: inputData.body.instance,\n      source: data.source\n    },\n    \n    // Dados adicionais específicos por tipo\n    additionalData: {},\n    \n    // Flag para mensagens efêmeras\n    isEphemeral: false,\n    \n    // Mensagem original completa (para debug)\n    rawMessage: message\n  };\n  \n  // ========================================\n  // VERIFICAR SE É MENSAGEM EFÊMERA\n  // ========================================\n  let messageToProcess = message;\n  \n  if (message.ephemeralMessage?.message) {\n    result.isEphemeral = true;\n    messageToProcess = message.ephemeralMessage.message;\n    result.additionalData.expirationTime = message.ephemeralMessage.message?.contextInfo?.expiration || 0;\n  }\n  \n  // ========================================\n  // 1. MENSAGENS DE TEXTO\n  // ========================================\n  \n  // Texto simples\n  if (messageToProcess.conversation) {\n    result.messageType = 'text';\n    result.content = messageToProcess.conversation;\n    return result;\n  }\n  \n  // Texto estendido (com contexto, reply, link preview)\n  if (messageToProcess.extendedTextMessage) {\n    result.messageType = 'text_extended';\n    result.content = messageToProcess.extendedTextMessage.text;\n    \n    // Dados do contexto (reply, menção, etc)\n    if (messageToProcess.extendedTextMessage.contextInfo) {\n      const ctx = messageToProcess.extendedTextMessage.contextInfo;\n      result.additionalData.contextInfo = {\n        quotedMessage: ctx.quotedMessage || null,\n        mentionedJid: ctx.mentionedJid || [],\n        isForwarded: ctx.isForwarded || false\n      };\n    }\n    return result;\n  }\n  \n  // ========================================\n  // 2. MENSAGENS DE MÍDIA\n  // ========================================\n  \n  // Imagem\n  if (messageToProcess.imageMessage) {\n    result.messageType = 'image';\n    result.content = messageToProcess.imageMessage.caption || '[Imagem sem legenda]';\n    result.additionalData = {\n      mimetype: messageToProcess.imageMessage.mimetype,\n      url: messageToProcess.imageMessage.url,\n      mediaKey: messageToProcess.imageMessage.mediaKey,\n      fileLength: messageToProcess.imageMessage.fileLength\n    };\n    return result;\n  }\n  \n  // Vídeo\n  if (messageToProcess.videoMessage) {\n    result.messageType = 'video';\n    result.content = messageToProcess.videoMessage.caption || '[Vídeo sem legenda]';\n    result.additionalData = {\n      mimetype: messageToProcess.videoMessage.mimetype,\n      url: messageToProcess.videoMessage.url,\n      mediaKey: messageToProcess.videoMessage.mediaKey,\n      fileLength: messageToProcess.videoMessage.fileLength,\n      seconds: messageToProcess.videoMessage.seconds\n    };\n    return result;\n  }\n  \n  // Áudio\n  if (messageToProcess.audioMessage) {\n    result.messageType = 'audio';\n    result.content = '[Mensagem de áudio]';\n    result.additionalData = {\n      mimetype: messageToProcess.audioMessage.mimetype,\n      url: messageToProcess.audioMessage.url,\n      mediaKey: messageToProcess.audioMessage.mediaKey,\n      fileLength: messageToProcess.audioMessage.fileLength,\n      seconds: messageToProcess.audioMessage.seconds,\n      ptt: messageToProcess.audioMessage.ptt || false // Push to talk (áudio de voz)\n    };\n    return result;\n  }\n  \n  // Documento\n  if (messageToProcess.documentMessage) {\n    result.messageType = 'document';\n    result.content = messageToProcess.documentMessage.caption || '[Documento]';\n    result.additionalData = {\n      fileName: messageToProcess.documentMessage.fileName,\n      mimetype: messageToProcess.documentMessage.mimetype,\n      url: messageToProcess.documentMessage.url,\n      mediaKey: messageToProcess.documentMessage.mediaKey,\n      fileLength: messageToProcess.documentMessage.fileLength,\n      title: messageToProcess.documentMessage.title\n    };\n    return result;\n  }\n  \n  // Sticker\n  if (messageToProcess.stickerMessage) {\n    result.messageType = 'sticker';\n    result.content = '[Figurinha/Sticker]';\n    result.additionalData = {\n      mimetype: messageToProcess.stickerMessage.mimetype,\n      url: messageToProcess.stickerMessage.url,\n      mediaKey: messageToProcess.stickerMessage.mediaKey,\n      isAnimated: messageToProcess.stickerMessage.isAnimated || false\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 3. MENSAGENS DE LOCALIZAÇÃO\n  // ========================================\n  \n  if (messageToProcess.locationMessage) {\n    result.messageType = 'location';\n    const lat = messageToProcess.locationMessage.degreesLatitude;\n    const lng = messageToProcess.locationMessage.degreesLongitude;\n    result.content = `Localização: ${lat}, ${lng}`;\n    result.additionalData = {\n      latitude: lat,\n      longitude: lng,\n      name: messageToProcess.locationMessage.name,\n      address: messageToProcess.locationMessage.address\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 4. MENSAGENS DE CONTATO\n  // ========================================\n  \n  if (messageToProcess.contactMessage) {\n    result.messageType = 'contact';\n    result.content = `Contato: ${messageToProcess.contactMessage.displayName}`;\n    result.additionalData = {\n      displayName: messageToProcess.contactMessage.displayName,\n      vcard: messageToProcess.contactMessage.vcard\n    };\n    return result;\n  }\n  \n  // Múltiplos contatos\n  if (messageToProcess.contactsArrayMessage) {\n    result.messageType = 'contacts';\n    result.content = `${messageToProcess.contactsArrayMessage.contacts.length} contatos compartilhados`;\n    result.additionalData = {\n      contacts: messageToProcess.contactsArrayMessage.contacts\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 5. REAÇÕES\n  // ========================================\n  \n  if (messageToProcess.reactionMessage) {\n    result.messageType = 'reaction';\n    result.content = messageToProcess.reactionMessage.text || '[Reação removida]';\n    result.additionalData = {\n      messageId: messageToProcess.reactionMessage.key.id,\n      emoji: messageToProcess.reactionMessage.text\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 6. ENQUETES/POLLS\n  // ========================================\n  \n  if (messageToProcess.pollCreationMessage) {\n    result.messageType = 'poll';\n    result.content = messageToProcess.pollCreationMessage.name;\n    result.additionalData = {\n      pollName: messageToProcess.pollCreationMessage.name,\n      options: messageToProcess.pollCreationMessage.options?.map(opt => opt.optionName) || [],\n      selectableOptionsCount: messageToProcess.pollCreationMessage.selectableOptionsCount\n    };\n    return result;\n  }\n  \n  // Resposta a enquete\n  if (messageToProcess.pollUpdateMessage) {\n    result.messageType = 'poll_response';\n    result.content = '[Resposta de enquete]';\n    result.additionalData = {\n      pollCreationMessageKey: messageToProcess.pollUpdateMessage.pollCreationMessageKey,\n      vote: messageToProcess.pollUpdateMessage.vote\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 7. BOTÕES E LISTAS\n  // ========================================\n  \n  // Mensagem com botões\n  if (messageToProcess.buttonsMessage) {\n    result.messageType = 'buttons';\n    result.content = messageToProcess.buttonsMessage.contentText || '[Mensagem com botões]';\n    result.additionalData = {\n      buttons: messageToProcess.buttonsMessage.buttons?.map(btn => ({\n        buttonId: btn.buttonId,\n        buttonText: btn.buttonText?.displayText\n      })) || []\n    };\n    return result;\n  }\n  \n  // Resposta de botão\n  if (messageToProcess.buttonsResponseMessage) {\n    result.messageType = 'button_response';\n    result.content = messageToProcess.buttonsResponseMessage.selectedDisplayText;\n    result.additionalData = {\n      selectedButtonId: messageToProcess.buttonsResponseMessage.selectedButtonId\n    };\n    return result;\n  }\n  \n  // Mensagem com lista\n  if (messageToProcess.listMessage) {\n    result.messageType = 'list';\n    result.content = messageToProcess.listMessage.description || '[Mensagem com lista]';\n    result.additionalData = {\n      title: messageToProcess.listMessage.title,\n      buttonText: messageToProcess.listMessage.buttonText,\n      sections: messageToProcess.listMessage.sections\n    };\n    return result;\n  }\n  \n  // Resposta de lista\n  if (messageToProcess.listResponseMessage) {\n    result.messageType = 'list_response';\n    result.content = messageToProcess.listResponseMessage.title;\n    result.additionalData = {\n      selectedRowId: messageToProcess.listResponseMessage.singleSelectReply?.selectedRowId\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 8. CHAMADAS\n  // ========================================\n  \n  if (messageToProcess.callMessage) {\n    result.messageType = 'call';\n    result.content = '[Chamada de voz/vídeo]';\n    result.additionalData = {\n      callKey: messageToProcess.callMessage.callKey\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 9. MENSAGENS DE SISTEMA/PROTOCOLO\n  // ========================================\n  \n  if (messageToProcess.protocolMessage) {\n    result.messageType = 'protocol';\n    const type = messageToProcess.protocolMessage.type;\n    \n    switch(type) {\n      case 0: // REVOKE (mensagem apagada)\n        result.content = '[Mensagem apagada]';\n        result.additionalData.action = 'revoke';\n        break;\n      default:\n        result.content = '[Mensagem de protocolo]';\n        result.additionalData.protocolType = type;\n    }\n    return result;\n  }\n  \n  // ========================================\n  // 10. MENSAGEM DE PRODUTO/CATÁLOGO\n  // ========================================\n  \n  if (messageToProcess.productMessage) {\n    result.messageType = 'product';\n    result.content = messageToProcess.productMessage.product?.title || '[Produto]';\n    result.additionalData = {\n      productId: messageToProcess.productMessage.product?.productId,\n      businessOwnerJid: messageToProcess.productMessage.businessOwnerJid\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 11. MENSAGEM DE TEMPLATE\n  // ========================================\n  \n  if (messageToProcess.templateMessage) {\n    result.messageType = 'template';\n    result.content = '[Mensagem template]';\n    result.additionalData = {\n      hydratedTemplate: messageToProcess.templateMessage.hydratedTemplate\n    };\n    return result;\n  }\n  \n  // ========================================\n  // 12. LIVE LOCATION\n  // ========================================\n  \n  if (messageToProcess.liveLocationMessage) {\n    result.messageType = 'live_location';\n    const lat = messageToProcess.liveLocationMessage.degreesLatitude;\n    const lng = messageToProcess.liveLocationMessage.degreesLongitude;\n    result.content = `Localização ao vivo: ${lat}, ${lng}`;\n    result.additionalData = {\n      latitude: lat,\n      longitude: lng,\n      accuracyInMeters: messageToProcess.liveLocationMessage.accuracyInMeters,\n      speedInMps: messageToProcess.liveLocationMessage.speedInMps,\n      degreesClockwiseFromMagneticNorth: messageToProcess.liveLocationMessage.degreesClockwiseFromMagneticNorth\n    };\n    return result;\n  }\n  \n  // ========================================\n  // TIPO DESCONHECIDO\n  // ========================================\n  \n  result.messageType = 'unknown';\n  result.content = '[Tipo de mensagem não identificado]';\n  result.additionalData.messageKeys = Object.keys(messageToProcess);\n  \n  return result;\n}\n\n// ========================================\n// PROCESSAR TODOS OS ITENS\n// ========================================\n\ntry {\n  const items = $input.all();\n  const processedItems = [];\n  \n  for (const item of items) {\n    const processed = processMessage(item.json);\n    \n    // Mesclar resultado processado com item original\n    processedItems.push({\n      json: {\n        ...item.json,\n        processed: processed\n      }\n    });\n  }\n  \n  return processedItems;\n  \n} catch (error) {\n  // Em caso de erro, retornar informação útil\n  return [{\n    json: {\n      error: true,\n      errorMessage: error.message,\n      errorStack: error.stack,\n      originalData: $input.all()[0]?.json\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        -624
      ],
      "id": "2481d347-2d7f-4bc6-ae46-b0a740f2717a",
      "name": "ParseWebhook"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('GetCustomerByCompany').first().json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "5301f74f-cd89-42b0-b34a-8e6d7aeeaf22"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9aaa3451-1411-49c7-875a-de9a5b26029f",
                    "leftValue": "={{ $('GetCustomerByCompany').first().json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Yes"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        224,
        -640
      ],
      "id": "ec8d9cff-a196-4326-b446-ce10775feaaa",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "customers",
        "filters": {
          "conditions": [
            {
              "keyName": "session_id",
              "keyValue": "={{ $('ParseWebhook').item.json.processed.metadata.remoteJid }}"
            },
            {
              "keyName": "company_id",
              "keyValue": "={{ $('GetCompany').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -64,
        -640
      ],
      "id": "b82eb6a5-7c05-4acd-a35e-eddab3341c8a",
      "name": "GetCustomerByCompany",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        800,
        -624
      ],
      "id": "a5e7d59c-f818-48b7-8ebd-b299c36d378c",
      "name": "Customer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c7c7301-0d15-4bda-8ab9-2aff08094cd6",
              "leftValue": "={{ $('Customer').item.json.data[0].email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "b633f871-1a2a-4e9c-b9d3-795d828a530f",
              "leftValue": "={{ $('Customer').item.json.data[0].birthdate }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2304,
        -624
      ],
      "id": "234d3690-895b-4833-bb17-0fcd558cdfe0",
      "name": "AlreadyOnBoard"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customer_messages",
        "limit": 20,
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "condition": "eq",
              "keyValue": "={{ $('Customer').item.json.data[0].id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3072,
        -400
      ],
      "id": "e61d03ae-642a-4e11-8452-4c04ae7f6908",
      "name": "GetLastMessages",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "company_services",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "condition": "eq",
              "keyValue": "={{ $('GetCompany').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3216,
        80
      ],
      "id": "d3b358c2-91b8-4313-b858-5f4e687520ff",
      "name": "GetServices",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "colaborators",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "condition": "eq",
              "keyValue": "={{ $('GetCompany').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3376,
        80
      ],
      "id": "e57681bb-76b8-4d4d-bd72-6f71b8d62cb6",
      "name": "GetColaborators",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "customer_messages",
        "limit": 20,
        "filters": {
          "conditions": [
            {
              "keyName": "customer_id",
              "condition": "eq",
              "keyValue": "={{ $('Customer').item.json.data[0].id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3856,
        -64
      ],
      "id": "8a0c0a00-42e0-4d84-876a-4cca0a53e95a",
      "name": "GetLastMessages1",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "company_locations",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "condition": "eq",
              "keyValue": "={{ $('GetCompany').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3536,
        80
      ],
      "id": "209c60f7-52e0-423b-b1fb-8dc7341342bc",
      "name": "GetLocations",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "colaborator_x_locations",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "colaborator_id",
              "condition": "eq",
              "keyValue": "={{ $fromAI(\"colaborator_id\", \"ID do colaborador\") }}"
            },
            {
              "keyName": "location_id",
              "condition": "eq",
              "keyValue": "={{ $fromAI(\"location_id\", \"ID da location\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        3696,
        80
      ],
      "id": "a5560758-1120-4c21-8a7c-741fcaee21da",
      "name": "GetColaboratorXLocations",
      "credentials": {
        "supabaseApi": {
          "id": "o9u8cYOj8EpbWDWu",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Salesperson": {
      "main": [
        [
          {
            "node": "SendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recepcionist": {
      "main": [
        [
          {
            "node": "SendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateEvent": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateEvent": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RemoveEvent": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomer": {
      "ai_tool": [
        [
          {
            "node": "Recepcionist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateCustomer": {
      "ai_tool": [
        [
          {
            "node": "Recepcionist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM-1": {
      "ai_languageModel": [
        [
          {
            "node": "Salesperson",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM-2": {
      "ai_languageModel": [
        [
          {
            "node": "Recepcionist",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SendMessage": {
      "main": [
        [
          {
            "node": "SaveAgentMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "ParseWebhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveCustomerMessage": {
      "main": [
        [
          {
            "node": "AlreadyOnBoard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateCustomer": {
      "main": [
        [
          {
            "node": "Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SwitchByMessageType": {
      "main": [
        [
          {
            "node": "SaveCustomerMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SaveCustomerMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCompany": {
      "main": [
        [
          {
            "node": "CheckTokenBalance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseWebhook": {
      "main": [
        [
          {
            "node": "GetCompany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckTokenBalance": {
      "main": [
        [
          {
            "node": "GetCustomerByCompany",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "CreateCustomer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomerByCompany": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer": {
      "main": [
        [
          {
            "node": "SwitchByMessageType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AlreadyOnBoard": {
      "main": [
        [
          {
            "node": "Recepcionist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salesperson",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLastMessages": {
      "ai_tool": [
        [
          {
            "node": "Recepcionist",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetServices": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetColaborators": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetLastMessages1": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetLocations": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetColaboratorXLocations": {
      "ai_tool": [
        [
          {
            "node": "Salesperson",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/Sao_Paulo"
  },
  "versionId": "a280426d-747e-444a-ab22-578086de0188",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7817a412ad83ff0e79b10827c3866bd995411ae8fd1908af0ca05bc1bbb34d24"
  },
  "id": "y8yDSBTrWgh2CsnK",
  "tags": []
}